* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 60%;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slides {
  height: 100%;
  display: flex;
}

.slide {
  min-width: 50%;
}

.slide img {
  width: 100%;
  height: 100%;
}

.controls {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}